<h3 class="fs-2">Solo mostrar</h3>
<input class="m-2 form-control" type="text" [value]="pelicula?.nombre" placeholder="Nombre" disabled>
<input class="m-2 form-control" type="text" [value]="pelicula?.tipo" placeholder="Tipo" disabled>
<input class="m-2 form-control" type="text" [value]="pelicula?.fechaDeEstreno?.toLocaleDateString()" placeholder="Fecha de estreno" disabled>
<input class="m-2 form-control" type="text" [value]="pelicula?.cantidadPublico" placeholder="Cantidad de público" disabled>
<div class="m-2">
  <button class="btn btn-secondary">Limpiar</button>
</div>